manifest
{
    mainScript = "trim_fastq.nf"
    nextflowVersion = ">=20.0.0"
    version = "0.1"
    recurseSubmodules = true
    author = "Ashley Sawle"
    homePage = ""
    name = "Trim fastq with fastp to remove adapter content etc."
}

params {
    // Directory contains untrimmed fastq files
    inputDir = "fastq"

    // Directory to which to write trimmed fastq files and report
    outputDir = "fastq_trimmed"

    // Glob pattern to match read 1/2 fastq files
    fastqPattern = "*r_{1,2}.fq.gz"

    // Additional options to pass to fastp
    fastpOptions = ""
}

process {
    errorStrategy = {
        task.exitStatus in [ 104, 134, 137..140 ].flatten() ? 'retry' : 'finish'
    }

    cpus = 1
    memory = 1.GB
    time = 1.hour
}

conda.enabled = true
process.conda = "${projectDir}/conda.yaml"
conda.useMamba = true

profiles {
    standard
    {
        process.executor = "local"
        executor
        {
            cpus = 4
            memory = 8.GB
        }
    }

    bigserver
    {
        process.executor = "local"
        executor
        {
            cpus = 50
            memory = 128.GB
        }
    }

    cluster {
        process.executor = "slurm"
        executor {
            queueSize = 200
            pollInterval = 30.sec
            jobName = { "'$task.name'" }
        }
        singularity.enabled = true
    }

    epyc {
        process.executor = "slurm"
        process.queue = 'epyc'
        executor {
            queueSize = 200
            pollInterval = 30.sec
            jobName = { "'$task.name'" }
        }
        singularity.enabled = true 
    }

}

